<% include header.html %>

<script type="text/javascript">
	<!-- websocket handlers -->
	var socket = io.connect('http://<%= server%>:<%= port%>');

	socket.on('connected', function(data){
		if(data.status == 'ok'){
			addLog('server connected');	
		}
	});

	socket.on('crawler running status', function(data){
		if(data.status == "starting"){
			$('#startGlobalCrawler').html('运行中');
		}

		if(data.status == "finished"){
			$('#startGlobalCrawler').html('启动');
			$('#startGlobalCrawler').prop('disabled', false);
		}


	});


</script>

<script type="text/javascript">
	<!-- other methods -->
	function startGlobalCrawler(){
		socket.emit('start global crawler', {schedule : 'immediately'});
		$('#startGlobalCrawler').prop('disabled', true);
	}

	function addLog(l){
		$('#logPlace').val(l + "\n" + $('#logPlace').val());
	}

	function clearLog(){
		$('#logPlace').val("");
	}
</script>

<div class="container">
	<div class="caption" style="margin-bottom:30px; margin-top:0; padding-top:0">
		<h3>Crawler Monitor</h3>
	</div>
	<div class="col-md-2 well" style="margin: 10px">
		<!-- <div>
			<table class="table table-condensed table-striped table-hover">
				<tr class="success">
					<td style="width:80%; font-size:18px;vertical-align:middle">Global Crawler</td>
					<td style="width:20%" class="text-right"><button class="btn btn-link" id="startGlobalCrawler" onclick="startGlobalCrawler()">启动</button></td>
				</tr>
			</table>
		</div> -->
		<!-- <div class="caption">爬虫列表</div> -->
		<div>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#">全局</a></li>
				<li><a href="#">交易</a></li>
				<li><hr/></li>
				<li><a href="#">品牌主数据</a></li>
				<li><a href="#">品种主数据</a></li>
				<li><a href="#">单品主数据</a></li>
				<li><a href="#">店铺主数据</a></li>
				<li><hr/></li>
				<li><a href="#">指定品牌</a></li>
				<li><a href="#">指定店铺</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-3" style="margin:10px">
		<div class="well">
			<div class="page-header" style="margin-top:10px;"><h4 class="text-muted">爬虫状态</h4></div>
		</div>
		<div class="well">
			<div class="page-header" style="margin-top:10px;"><h4 class="text-muted">运行中的爬虫</h4></div>
		</div>
	</div>
	<div class="col-md-6 text-center well" style="margin:10px; padding: 0">
		<!-- <textarea disabled="disabled" cols="120" rows="22" style="max-width:800px;" id="logPlace"></textarea>
		<button class="btn btn-primary" style="margin-top:10px" onclick="clearLog()">清除</button> -->
	</div>
</div>

<% include footer.html %>